<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tson"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- can be useful for attachments -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google+ log in -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	

   
	

    <application
        android:allowBackup="true"
        android:fontFamily="sans-serif-thin"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
		<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Home Screen Activity -->
        <activity
            android:name="com.example.tson.LoginActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- When signed in activity -->
        <activity
            android:name="com.example.tson.HomeActivity"
            android:label="@string/login_button" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>

        
        <!-- Create Project Activity -->
        <activity
            android:name="com.example.tson.CreateProjectActivity"
            android:label="@string/create_project_button" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>

        <!-- submission activity -->
        <activity
            android:name="com.example.tson.SubmissionListFragment"
            android:label="@string/title_activity_sub_list" 
            >
        </activity>
        <activity
            android:name="com.example.tson.Adapter"
            android:label="@string/title_activity_adapter" >
        </activity>
        <activity
            android:name="com.example.tson.SubmissionCalFragment"
            android:label="@string/title_activity_submission_cal_fragment" >
        </activity>
        <activity
            android:name="com.example.tson.SubmissionFragment"
            android:label="@string/title_activity_submission_fragment" >
        </activity>
        <activity
            android:name="com.example.tson.StatisticsFragment"
            android:label="@string/title_activity_statistics_fragment" >
        </activity>
        <activity
            android:name="com.example.tson.ExportFragment"
            android:label="@string/title_activity_export_fragment" >
        </activity>
        <activity
            android:name="com.example.tson.ManageProjectsActivity"
            android:label="@string/title_activity_manage_projects"
            android:configChanges="orientation"
    		android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="tson_utilities.NotificationHandler" >
        </receiver>

        <activity
            android:name="com.example.tson.CreateNotificationActivity"
            android:label="@string/title_activity_create_notification"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
    		android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.example.tson.SendEmailActivity"
            android:label="@string/title_activity_send_email"
            android:configChanges="orientation"
    		android:screenOrientation="portrait" >
        </activity>


    </application>

</manifest>
